main ul {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

h1 {
    text-align: center;
}

.art1 {
    background: radial-gradient(circle, rgba(34, 193, 195, 1) 0%, rgba(70, 192, 171, 1) 9%, rgba(59, 75, 192, 1) 14%, rgba(253, 187, 45, 1) 23%, rgba(98, 191, 152, 1) 29%, rgba(83, 91, 191, 1) 41%, rgba(253, 187, 45, 1) 57%, rgba(168, 139, 118, 1) 75%, rgba(43, 0, 213, 1) 91%);
}

.art2 {
    background: radial-gradient(circle, rgba(195,34,34,1) 0%, rgba(70,105,192,1) 9%, rgba(104,192,59,1) 14%, rgba(231,253,45,1) 23%, rgba(98,187,191,1) 29%, rgba(191,83,150,1) 41%, rgba(218,104,192,1) 48%, rgba(118,234,78,1) 52%, rgba(253,45,238,1) 63%, rgba(69,132,225,1) 63%, rgba(180,145,119,1) 69%, rgba(126,118,168,1) 75%, rgba(168,118,163,1) 75%, rgba(213,0,0,1) 91%);
}

.art3 {
    background: radial-gradient(circle, rgba(166,34,195,1) 0%, rgba(192,191,70,1) 9%, rgba(70,59,192,1) 14%, rgba(253,45,217,1) 23%, rgba(98,187,191,1) 29%, rgba(191,83,150,1) 41%, rgba(112,218,104,1) 48%, rgba(234,155,78,1) 52%, rgba(253,45,238,1) 63%, rgba(225,171,69,1) 63%, rgba(180,145,119,1) 69%, rgba(134,118,168,1) 75%, rgba(43,0,213,1) 91%);
}

.footerGrid{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,253,145,1) 48%, rgba(252,176,69,1) 100%);
}